.connect_me h1,
h3 {
    text-align: center;
    color: rgb(149, 81, 213);
}

.connect_me h1 {
    padding-top: 10px;
    margin-top: 300px;
}

.connect_me h3 {
    margin: 30px;
}

.connect {
    width: 80%;
    height: 60vh;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.connect_content {
    width: 340px;
    height: 300px;
    border-radius: 20px;
    box-shadow: (9px 7px 10px rgba(255, 255, 255, 0.341));
}

.connect_content .cont {
    margin: 20px;
    padding: 2px;
}

.connect_message {
    width: 400px;
    height: 650px;
    border-radius: 20px;
    box-shadow: (9px 7px 10px rgba(255, 255, 255, 0.341));
    margin: 0px 50px;
}

.leave h3 {
    color: white;
    display: flex;
}

@media (max-width:1200px) and (min-width:801px) {
    .connect_me {
        margin-top: 1100px;
    }
}

@media (max-width:800px) and (min-width:320px) {
    .connect_me {
        margin-top: 850px;
    }
}

.leave h3 {
    text-align: center;
}

.name input {
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.256);
    border-radius: 10px;
    margin: 15px auto;
    padding: 10px 30px 10px 30px;
    color: white;
}


.email input {
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.256);
    border-radius: 10px;
    margin: 15px auto;
    padding: 10px 30px 10px 30px;
    color: white;
}

.phone input {
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.256);
    border-radius: 10px;
    margin: 15px auto;
    padding: 10px 30px 10px 30px;
    color: white;
}

.message textarea {
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.256);
    border-radius: 10px;
    margin: 15px auto;
    padding: 10px 30px 10px 30px;
    color: white;
}

.button {
    margin: 15px 0px 0px 20px;
    display: flex;
}

.button input {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 20px;
}

.button input:hover {
    background-color: rgba(255, 255, 255, 0.522);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    transition: .3s;
}


.footer {
    margin-top: 430px;
    background-color: rgb(3, 2, 63);
    color: #fff;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.foot1 {
    margin: 10px;
}